body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #011930;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}
